/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
  margin: 0px;
}

article {
  width: 70%;
  margin: 0px 15%;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}

figcaption {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}
